*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.game{
    text-align: center;
    margin-top: 50px;
    min-height: 80vh;
   
    
}
.number{
    padding: 20px;
}
.player1_input{
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.start{
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}
.game1_button {
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.guess{
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
}
.player2_input{
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.game2_button{
    padding: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
